<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="窗体大小" value="50"/>
		<add key="启动窗体定位X" value="500"/>
		<add key="启动窗体定位Y" value="500"/>
	</appSettings>
</configuration>